.managerPage {
  width: 100%;
  min-height: 100vh;

  background-color: #fbf8f5;

  padding: 36px 0;
}

.content {
  width: 88%;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;

  gap: 36px;
}

.content > :first-child {
  flex: 1;
}
