.menuLine {
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;

  gap: 16px;
  padding: 0 28px;

  color: #786c64;

  font-size: 15px;

  cursor: pointer;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 17px;
}

.text {
  font-size: 14px;
}

.active {
  background-color: #f2e9df;
  color: #21170f;
  font-weight: 600;
  border-left: 3px solid #d3a65c;
}
