.statusContainer {
  position: relative;

  width: 105px;
}

.status {
  width: 105px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;

  border-radius: 3px;

  font-size: 13px;

  cursor: pointer;
}

/* status selected */

.Completed {
  color: #38843c;
  background-color: #f2f8f0;
  border: 1px solid #cbdcc7;
}

.Processing {
  color: #b77a19;
  background-color: #fff8ed;
  border: 1px solid #e7d7bd;
}

.Canceled {
  color: #c93c35;
  background-color: #fff2f1;
  border: 1px solid #e7cbc8;
}

/* opened dropdown */

.options {
  position: absolute;
  top: 34px;
  left: 0;

  width: 105px;

  display: flex;
  flex-direction: column;

  background-color: white;

  border: 1px solid #ddd2c8;

  z-index: 10;
}

.options button {
  width: 100%;
  height: 30px;

  border: none;

  text-align: left;

  padding: 0 12px;

  font-size: 13px;

  cursor: pointer;
}

.completeOption {
  color: #38843c;
  background-color: #f2f8f0;
}

.processingOption {
  color: #b77a19;
  background-color: #fff8ed;
}

.canceledOption {
  color: #c93c35;
  background-color: #fff2f1;
}

.completeOption:hover {
  background-color: #e7f3e4;
}

.processingOption:hover {
  background-color: #fdf0dc;
}

.canceledOption:hover {
  background-color: #fbe4e2;
}
