.userBtn {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;

  padding: 0;

  color: #c9ad98;

  cursor: pointer;

  transition: color 0.2s ease;
}

.userBtn svg {
  width: 20px;
  height: 20px;
}

.userBtn:hover {
  color: #8a6f60;
}
