.cart {
  background: transparent;
  border: none;
  cursor: pointer;

  color: #9a8174;
  font-size: 19px;

  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cart:hover {
  opacity: 0.6;
}
