.header {
  display: grid;
  grid-template-columns: 2fr 0.55fr 1.1fr 0.8fr;

  align-items: center;

  padding: 12px 0;

  border-bottom: 2px solid #e8ddd5;

  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;

  color: #a58d80;
}