.table {
  width: 100%;

  border-collapse: collapse;
  border: 1px solid #e3d8ce;

  background-color: #fff;
}

.table th {
  height: 44px;
  padding: 0 18px;

  text-align: left;

  border-bottom: 2px solid #d8c5b5;

  font-size: 13px;
  font-weight: 600;

  color: #302823;
}
