.categoryBtn {
  padding: 12px 26px;

  background-color: #ffffff;
  border: 1px solid #e5d8cd;
  border-radius: 30px;

  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;

  color: #8d786b;
  letter-spacing: 2px;

  cursor: pointer;
  white-space: nowrap;

  transition: all 0.25s ease;
}

.categoryBtn:hover {
  background-color: #b89558;
  border-color: #b89558;
  color: white;
}

.active {
  background-color: #cdaa68;
  border-color: #cdaa68;
  color: white;
}

.active:hover {
  background-color: #a98448;
  border-color: #a98448;
}