.line {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 26px 24px;

  border-top: 1px solid #eadfd7;
  border-bottom: 1px solid #eadfd7;

  background-color: #ffffff;
}

.product {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.quantity {
  display: flex;
  align-items: center;

  gap: 12px;

  margin-left: 76px;
}

.number {
  min-width: 12px;

  text-align: center;

  font-family: Arial, sans-serif;
  font-size: 13px;

  color: #51453e;
}