.registerPage {
  width: 100%;

  display: grid;
  grid-template-columns: 65% 35%;
}

.imageSide {
  width: 100%;
  min-height: 0;

  overflow: hidden;
}

.formSide {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 60px;

  background-color: #fbf8f5;
}
