.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  margin: 0;

  font-family: Georgia, serif;
  font-size: 17px;
  font-weight: 400;

  color: #7d6d64;
}

.oldPrice {
  margin: 0;

  font-family: Georgia, serif;
  font-size: 17px;
  font-weight: 400;

  color: #7d6d64;

  text-decoration: line-through;
  text-decoration-color: #a66c4f;
  text-decoration-thickness: 1.5px;
}

.discountPrice {
  margin: 0;

  font-family: Georgia, serif;
  font-size: 17px;
  font-weight: 400;

  color: #a66c4f;
}