.resetPasswordForm {
  width: 100%;
  max-width: 480px;

  display: flex;
  flex-direction: column;
}

.back {
  margin-bottom: 40px;
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 25px;

  margin-top: 35px;
}

.savePassword {
  width: 100%;
  margin-top: 8px;
}
