.button {
  padding: 10px 18px;

  border: 1px solid #e3d5ca;

  background-color: #ffffff;

  color: #a18b7d;

  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: 500;

  letter-spacing: 1.2px;

  cursor: pointer;

  transition: 0.2s ease;
}

.button:hover {
  background-color: #f7f2ee;
  border-color: #cdb7a6;

  color: #80695b;
}
