.productInfo {
  display: flex;
  align-items: flex-start;

  gap: 16px;
}

.image {
  width: 60px;
  height: 60px;

  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.name {
  margin: 0;

  font-family: Georgia, serif;
  font-size: 15px;
  font-weight: 400;

  color: #51453e;
}

.price {
  margin: 0;

  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;

  color: #c49a5a;
}
