.login {
  background: transparent;
  border: none;
  cursor: pointer;

  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;

  color: #78675d;
  letter-spacing: 3px;

  padding: 6px;
}