.clients {
  width: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 28px;
}

.addClient {
  width: 150px;
  height: 42px;

  border: none;

  background-color: #21170f;
  color: white;

  font-size: 11px;
  letter-spacing: 1.5px;

  white-space: nowrap;

  cursor: pointer;
}

.addClient:hover {
  background-color: #3a2b20;
}

.clients {
  width: 100%;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 28px;
}

.search {
  width: 100%;
  max-width: 620px;

  margin-bottom: 24px;
}