.view {
  width: 58px;
  height: 30px;

  border: 1px solid #dfd1c6;
  background-color: #fff;

  color: #8c7c70;

  font-size: 13px;

  cursor: pointer;
}

.view:hover {
  background-color: #f7f1ec;
  color: #5f5147;
}
