.productsGrid {
  width: 100%;
  max-width: 1000px;

  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 28px;
}

/* Tablet */
@media (max-width: 900px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}
