.loginForm {
  width: 100%;
  max-width: 480px;

  margin: 0 auto;
}

.back {
  margin-bottom: 45px;
}

.form {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 30px;

  margin-top: 45px;
}

.forgot {
  display: flex;
  justify-content: flex-end;

  margin-top: -8px;
}

.signIn {
  width: 100%;

  margin-top: 10px;
}

.account {
  display: flex;
  justify-content: center;

  margin-top: -5px;
}