.top {
  margin-bottom: 25px;
}

.tools {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 24px;
}

.search {
  flex: 1;
}

.addClient {
  height: 42px;
  padding: 0 18px;

  border: none;
  background-color: #24150f;
  color: white;

  font-size: 11px;
  letter-spacing: 1px;

  cursor: pointer;
}