.overlay {
  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
  box-sizing: border-box;

  z-index: 1000;
}

.popup {
  position: relative;

  width: 1000px;
  max-width: 95vw;
  max-height: calc(100vh - 60px);

  background-color: #fbf8f5;

  padding: 50px 55px 40px;
  box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 25px;
  left: auto;

  width: fit-content;
  height: fit-content;

  z-index: 10;
}

