.forgotPasswordPage {
  width: 100%;

  display: grid;
  grid-template-columns: 72% 28%;
}

.imageSide {
  width: 100%;
  min-height: 0;
  overflow: hidden;
}

.formSide {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 45px 45px;

  background-color: #fbf8f5;
}