.main {
  width: 100%;
  background-color: #faf7f4;

  padding-top: 45px;
  box-sizing: border-box;
}

.topContent {
  width: min(950px, calc(100% - 80px));
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1.25fr 0.75fr;

  gap: 70px;
  align-items: center;

  padding-bottom: 65px;
}