.descriptionProduct {
  width: 100%;
}

.category {
  margin: 0 0 8px;

  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 3px;

  color: #c49a5a;
}

.name {
  margin: 0 0 5px;

  font-family: Georgia, serif;
  font-size: 20px;
  font-weight: 400;

  color: #51453e;
}

.description {
  margin: 0 0 17px;

  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;

  color: #a38f83;
}

.line {
  width: 100%;
  height: 1px;

  background-color: #e8ddd5;
}
